
    <footer>
        <div class="footer-content" id="Nosotros">
            <h3>Nosotros</h3>
            <p><strong>Hotel El Cielo</strong> "El lugar Ideal" comodidad,confort, económico y calidad.
                <br>
                Brinda servicios de estancia y hospedaje a toda la república mexicana y el extranjero , ya que
                cuenta con todos los servicios que se necesitan para el descanso y la comodidad de los clientes</p>
            
            <div>
                <p><img src="https://img.icons8.com/fluency/40/000000/new-post.png"/> Hotel-elcielo@hotmail.com</p>
                
            </div>    
            <ul class="social">
                <!-- <li><a target="_blank" href="https://www.facebook.com/hotelelcielo">Facebook</a></li> -->
                <li><a target="_blank" href="https://www.facebook.com/hotelelcielo"><img src="https://img.icons8.com/plasticine/55/000000/facebook-circled.png"/></a></li>
                <li><a target="_blank" href="https://www.google.com/maps/dir/?api=1&destination=22.27006332119%2C-97.847440862953&fbclid=IwAR3i7sJhF-4zfKXvNn_xWjEGtvPPQHa9akPaGWdx1J6HR2QI0pF5FOJGVTY"><img src="https://img.icons8.com/office/40/000000/worldwide-location--v1.png"/></a></li>
            </ul>
        </div>
        <!-- <div class="footer-bottom">
            <p>Copyright &copy;2022 P0wDakz. designed by <span>Essaul</span></p>
        </div> -->
    </footer>
