<!-- Meter CC nada mas! y ver que mas falta agregar y editar footer para agregar gmail, telf y mas cosas -->
<!-- https://www.facebook.com/hotelelcielo/ -->

<div class="dsss">
    <div class="title">
        <h3>Nosotros</h3>
    </div>
    <div class="about-us">
        <p><strong>Hotel El Cielo</strong> "El lugar Ideal" comodidad,confort, económico, calidad.
            <br>
            Brinda servicios de estancia y hospedaje a toda la república mexicana y el extranjero , ya que
            cuenta con todos los servicios que se necesitan para el descanso y la comodidad de los clientes
        </p>
    </div>
    <div class="hr">
        <p>Horario: <strong>Siempre abierto</strong></p>
    </div>
    
    <div class="ubic">
        <p><strong>Avenida Tamaulipas 93, Unidad Nacional, 89410 Cd Madero, Tamps.</strong></p>
        <ul>
            <li><a target="_blank"
                    href="https://www.google.com/maps/dir/?api=1&destination=22.27006332119%2C-97.847440862953&fbclid=IwAR3i7sJhF-4zfKXvNn_xWjEGtvPPQHa9akPaGWdx1J6HR2QI0pF5FOJGVTY">
                    <img src="https://img.icons8.com/office/40/000000/worldwide-location--v1.png" />
                </a>
            </li>
        </ul>
    </div>
</div>