<!-- TENGO  QUE HACERLO RESPONSIVE -->
<div class="container">

    <h1>Anuncios</h1>

    <div class="posts">
        <div>
            <img src="assets/infoCovid-19.jpg"
                alt="">
        </div>

        <div>
            <h4>✳️ A B I E R T O ❎</h4>
            <p>
                A todos nuestros clientes les informamos que estamos en servicio, respetando todas las medidas sanitarias .
                ✅ Permiso de apertura 
                ✅ filtro sanitario sugerido por la Secretaria de seguridad de Salud tapete sanitizante , para limpieza de calzado 👞 toma de temperatura y aplicación de gel 
                ✅ uso obligatorio de cubre bocas personal y huéspedes 
                ✅ Habitaciones completamente sanitizadas y desinfectadas diariamente   
                ✅ ventilacion de espacios cerrados 
                Bienvenidos ‼️‼️
                Reservas ☎️ <strong>(833)2 16 10 68  (833)5 68 71 71</strong>.</p>
        </div>
    </div>

    <div class="posts">

        <div>
            <h4>✳️ El lugar Ideal ❎</h4>
            <p>
                Comodidad , Calidad , Economía y Conford .
                Estamos listos para recibirte estas próximas vacaciones ... Ven y conócenos ‼️‼️</p>
        </div>

        <div>
            <img src="assets/Hotel.jpg"
                alt="">
        </div>


    </div>

</div>