.navbar{
    /* background-color: #293428; */
    background-color: #1e8f4d;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    
}
.logo{
    color: #fff;
    font-size: 25px;
    padding: 0 25px;
    font-weight: bold;
}
.navbar-nav li{
    border-radius: 3px;
    margin: 0 5px;
}
.navbar-nav li a{
    color: #fff;
}
.navbar-nav li:hover, li.active {
    /* background-color: rgba(11, 214, 204, 0.3); */
    background-color: rgba(245, 90, 0, 0.3);
    transition: .4s; 
}
.justify-content-end{
    padding: 0 80px;
}
.navbar-nav li .off{
    text-decoration: line-through;
}